# Keil uVision temporary files
*.uvoptx
*.uvgui.*
*.bak
*.log

# Output folders
Objects/
Listings/
*.axf
*.hex
*.elf
*.map
*.o
*.d
*.lst
*.crf
*.sct

# User backup or temp files
*.tmp
*.swp
*.old
*.dep